

@{
    ViewBag.Title = "TestView";
}

<h2>TestView</h2>

<p>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div>
                @Html.ActionLink("下載蘋果日報新聞", "Test", "Test", new { @class = "btn btn-primary" })
            </div>
        </div>

</p>